
<div class="row">
  <div class="col-6">

    <app-dona [titulo]="'Ventas'" [doughnutChartLabels]="labels1" [doughnutChartData]="data1"></app-dona>

  </div>

  <div class="col-6">

    <app-dona [titulo]="'Compras'" [doughnutChartLabels]="labels1" [doughnutChartData]="data2"></app-dona>

  </div>
</div>

<div class="row">
  <div class="col-6">

    <app-dona [titulo]="'Clientes'" [doughnutChartLabels]="labels1" [doughnutChartData]="data3"></app-dona>

  </div>

  <div class="col-6">

    <app-dona [titulo]="'Ciudades'" [doughnutChartLabels]="labels1" [doughnutChartData]="data4"></app-dona>

  </div>
</div>
